{% if user.is_authenticated and user.profile.modOrNot %}
Currently logged in as {{user.profile.handle}}. <a href="/accounts/logout">Log out</a>

<h1> {{det_user.profile.handle}}'s response history </h1>

<a href="{% url 'blog:mod' %}"> Return to mod page </a>

{% for response in responses %}
	<li> {{ response.text }} Flag Count: {{ response.inappropriateCount }} 
		<form action="{% url 'blog:inappropriate_rs' %}" method="post">
			{% csrf_token %}
			<button name="delete_r" value="{{response.id}}"> Hide this response </button>
			<input type="hidden" name="user_id" value="{{user.id}}">
		</form>
	</li>
{% endfor %}
{% endif %}