{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TigerTalk</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'css/clean-blog.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.mincss' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
                <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="index.html">
                    {% if user.is_authenticated %}
                        Currently logged in as {{user.profile.handle}}. </a>
                        <li>
                        <a href="/accounts/logout">Log out</a>
                        </li>
                
                    {% else %}

                    <a href="{% url 'blog:loginpage' %}">Click here to Log-in/Register</a>
                    {% endif %}
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a href="{% url 'blog:postaq' %}">Post a question</a>
                    </li>
                    <li>
                        <a href="{% url 'blog:index' %}">Home</a>
                    </li>
                    <li>
                          <form action="{% url 'blog:filter' %}" method="get">
                            <input type="text" name="tags" placeholder="#COS #Kintali" value="">
                            <input type="submit" value=" Search by tag">
                        </form>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% static "img/home-bg.jpg"%}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>TigerTalk</h1>
                        <hr class="small">
                        <span class="subheading">Let's Chat.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    {% load el_pagination_tags %}
    {% paginate questions starting from page cur_page %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for question in questions %}
                {% show_current_number as page_number %}
                <div class="post-preview">
                    <a href="{% url 'blog:questions' question.id %}">
                        <h2 class="post-title">
                            {{ question.text|truncatechars:200 }}
                        </h2>
                    </a>
                    <h3 class="post-subtitle">
                    {% for tag in question.tags.all %}
                        <a href="{% url 'blog:filtertag' tag.text %}">
                           {{tag.text}}
                        </a>
                    {% endfor %}
                    </h3>
                    <h3 class="post-subtitle"> 
                            {{question.top_answers.0.text}}
                        
                    </h3>
                    </div>
                    <ul class="pager">
                    <li class="pull-left">
                        {% if user.is_authenticated and not user.profile.blockedOrNot %}
                            {% if question in flagged_question_list %}
                                    <form action="{% url 'blog:index' %}" method="post">
                                        {% csrf_token %}

                                        <button name="unflag_q" value="{{question.id}}">Un-flag this question as inappropriate</button>
                                        <input type="hidden" name="user_id" value="{{user.id}}">
                                        <input type="hidden" name="page" value="{{page_number}}">
                                    </form>
                            {% else %}
                                <form action="{% url 'blog:index' %}" method="post">
                                {% csrf_token %}
                                <button name="flag_q" value="{{question.id}}">Flag this question as inappropriate</button>
                                <input type="hidden" name="user_id" value="{{user.id}}">
                                <input type="hidden" name="page" value="{{page_number}}">
                                </form>
                            {% endif %}
                        {% endif %} 
                     </ul>
                     </li>
    
                    <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="{% url 'blog:questions' question.id %}">See more/Respond&rarr;</a>
                    </li>
                </ul>
                <hr>
                {% endfor %}
                {% show_pages %}
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="{% url 'blog:editprofile' %}">
                              edit your profile 
                            </a>
                        </li>
                        <li>
                        {% if user.is_authenticated and user.profile.modOrNot %}
                            <a href="{% url 'blog:mod' %}"> mod page </a>
                        {% endif %}
                        {% if user.is_authenticated and user.profile.is_admin %}
                            <a href="{% url 'blog:admin' %}"> admin page </a>
                        {% endif %}

                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; TigerTalk 2017</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'js/contact_me.js' %}"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'js/clean-blog.min.js' %}"></script>

</body>

</html>