<h1>TigerTalk</h1>

<form action="{% url 'blog:loginpage' %}" method="get">
        <button name="login" value="{{question.id}}">Click here to Log-in/Register</button>
</form>

<h3>Questions</h3>

<a href="{% url 'blog:postaq' %}">Post a question, you curious cat</a>
<br><br>
Filter by tag: 
<form action="{% url 'blog:filter' %}" method="get">
	<input type="text" name="tags" placeholder="#COS #Kintali" value="">
  	<input type="submit" value="Submit">
</form> 

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li>{{ question.text }}</li> <br>
        {% for tag in question.tags.all %}
        	<ul>
        		<li>Tag: {{tag.text}}</li>
        	</ul>
        {% endfor %}
        <br>
        {% if question in expanded_question_list %}
        	<ul>
        	{% for answer in question.answers.all %}
        		<li>{{answer.text}}</li>
        	{% empty %}
        		No answers, lol, sorry.
        	{% endfor %}
        	</ul>
        	<form action="{% url 'blog:index' %}" method="get">
				<button name="close_requested" value="{{question.id}}">Close response(s)</button>
			</form>
        {% else %}
			<form action="{% url 'blog:index' %}" method="get">
				<button name="responses_requested" value="{{question.id}}">See response(s)</button>
			</form>
		{% endif %}
		{% if question in response_question_list %}
			{% if user.is_authenticated %}
			<form method="post" action="{% url 'blog:update_responses' %}">
  			  {% csrf_token %}
  				<textarea type="text" name="response" rows="7" style="width:100%" placeholder="Enter your response..."></textarea>
  				<input type="hidden" name="question_id" value="{{question.id}}">
  				<input type="submit" value="Submit">
				<input type="hidden" name="user_id" value="{{user.id}}">
			</form>
			{% else %}
			<form action="{% url 'blog:loginpage' %}" method="get">
                                <button name="login" value="{{question.id}}">Please Login to Answer a Question</button>
            </form>
			{% endif %}
		{% else %}
			<form action="{% url 'blog:index' %}" method="get">
				<button name="respond_to_q" value="{{question.id}}">Submit a Response</button>
			</form>
		{% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No posts are available.</p>
{% endif %}
