{% load staticfiles %}

<html>
<head>
<title>TigerTalk</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

</body>
<div class="page-header">
<h1><a href="/">TigerTalk</a></h1>
</div>

{% if user.is_authenticated %}
    Currently logged in as {{user.profile.handle}}. <a href="/accounts/logout">Log out</a>
    <a href="{% url 'blog:editprofile' %}">edit profile</a>
{% else %}
    <form action="{% url 'blog:loginpage' %}" method="get">
            <button name="login" value="{{question.id}}">Click here to Log-in/Register</button>
    </form>
{% endif %}
{% if user.is_authenticated and user.profile.modOrNot %}
	<a href="{% url 'blog:mod' %}"> Mod page </a>
{% endif %}
{% if user.is_authenticated and user.profile.is_admin %}
	<a href="{% url 'blog:admin' %}"> Admin page </a>
{% endif %}

<h3>Questions</h3>

<a href="{% url 'blog:postaq' %}">Post a question, you curious cat</a>
<br><br>
Filter by tag: 
<form action="{% url 'blog:filter' %}" method="get">
	<input type="text" name="tags" placeholder="#COS #Kintali" value="">
  	<input type="submit" value="Submit">
</form> 
 

{% load el_pagination_tags %}
{% paginate questions starting from page cur_page %}


{% for question in questions %}
{% show_current_number as page_number %}
<div id="resp_results{{question.id}}">
        <a href="{% url 'blog:questions' question.id %}">{{ question.text|truncatechars:200 }}</a> <br>
        {% if user.is_authenticated and not user.profile.blockedOrNot %}
            {% if question in flagged_question_list %}
                You have flagged this question <br>
                    <form action="{% url 'blog:index' %}" method="post">
                        {% csrf_token %}
                        <button name="unflag_q" value="{{question.id}}">Un-flag this question as inappropriate</button>
                        <input type="hidden" name="user_id" value="{{user.id}}">
                        <input type="hidden" name="page" value="{{page_number}}">
                    </form>
            {% else %}
                <form action="{% url 'blog:index' %}" method="post">
                		{% csrf_token %}
                        <button name="flag_q" value="{{question.id}}">Flag this question as inappropriate</button>
                        <input type="hidden" name="user_id" value="{{user.id}}">
			 			<input type="hidden" name="page" value="{{page_number}}">
                </form>
            {% endif %}
        {% endif %}
        {% for tag in question.tags.all %}
        	<ul>
        		<li>Tag: {{tag.text}}</li>
        	</ul>
        {% endfor %}
        <br>
        {% if question in expanded_question_list %}
        	<ul>
        	{% for answer in expanded_answers %}
        		{% if user.is_authenticated and not user.profile.blockedOrNot %}
                    {% if answer in helpful_responses_list %}
                        You have already marked this answer as helpful <br>
                        <form action="{% url 'blog:index' %}" method="get">
                        {% csrf_token %}
                            <button name="unhelpful" value="{{answer.id}}">Un-mark this response as helpful</button>
                            <input type="hidden" name="user_id" value="{{user.id}}">
                        </form>
                    {% else %}
                         <form action="{% url 'blog:index' %}" method="get">
                         {% csrf_token %}
                            <button name="helpful" value="{{answer.id}}">Mark this response as helpful</button>
                            <input type="hidden" name="user_id" value="{{user.id}}">
                        </form>
                    {% endif %}
                    {% if answer in inapp_responses_list %}
                        You have already flagged this answer as inappropriate <br>
                           <form action="{% url 'blog:index' %}" method="get">
                           {% csrf_token %}
                               <button name="uninapp" value="{{answer.id}}">Un-flag this response as innapropriate</button>
                               <input type="hidden" name="user_id" value="{{user.id}}">
                          </form>
                    {% else %}
                          <form action="{% url 'blog:index' %}" method="get">
                          {% csrf_token %}
                               <button name="inapp" value="{{answer.id}}">Flag this response as innapropriate</button>
                               <input type="hidden" name="user_id" value="{{user.id}}">
                          </form>
                    {% endif %}
                {% endif %}
		        <li>{{answer.text}} - {{answer.user.profile.handle}}</li>
                <li> Helpful Count is {{answer.helpfulCount}} </li> 
            	<li> Inappropriate Count is {{answer.inappropriateCount}} </li> 
        	{% empty %}
        		No answers, lol, sorry.
        	{% endfor %}
        	</ul>
	
        	<form action="{% url 'blog:index' %}#resp_results{{question.id}}" method="get">
				<button name="close_requested" value="{{question.id}}">Close response(s)</button>
				<input type="hidden" name="page" value="{{page_number}}">
			</form>
        {% else %}
			<form action="{% url 'blog:index' %}#resp_results{{question.id}}" method="get">
			        <input type="hidden" name="page" value="{{page_number}}">
				<button name="responses_requested" value="{{question.id}}">See response(s)</button>
			</form>
		{% endif %}
		{% if question in response_question_list %}
			{% if user.is_authenticated and not user.profile.blockedOrNot %}
				<form method="post" action="{% url 'blog:update_responses' %}#resp_results{{question.id}}">
				  {% csrf_token %}
					<textarea type="text" name="response" rows="7" style="width:100%" placeholder="Enter your response..."></textarea>
					<input type="hidden" name="question_id" value="{{question.id}}">
					<input type="submit" value="Submit">
					<input type="hidden" name="user_id" value="{{user.id}}">
					 <input type="hidden" name="page" value="{{page_number}}">
				</form>
			{% else %}
				<form action="{% url 'blog:loginpage' %}" method="get">
									<button name="login" value="{{question.id}}">Please Login to Answer a Question</button>
				</form>
			{% endif %}
		{% else %}
			{% if user.is_authenticated and not user.profile.blockedOrNot %}
				<form action="{% url 'blog:index' %}" method="get">
					<button name="respond_to_q" value="{{question.id}}">Submit a Response</button>
					 <input type="hidden" name="page" value="{{page_number}}">
				</form>
			{% endif %}
		{% endif %}
</div>
{% endfor %}
{% show_pages %}

</html>
